<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/slick.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/chartist.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<header class="header-page">
	<!--header-->
	<div class="header-top">
		<div class="container">
			<div class=row>
				<a href="#" class="logo"></a>
				<p class="call">Call us <span>1.800.439.7656</span></p>
			</div>
		</div>
	</div>
</header>
<!--end header-->

{% macro blogPost(post) %}

<div class="block-blog">
	<div>
		{% if post.image.exists %}
		<img src="{{ post.image.url }}" class="img-responsive"/>
		{% endif %}
		<div class="body-blog">
			<h2>{{ post.title }}</h2>
			<p>{{ post.content.brief|safe }}</p>
			<div class="footer-blog">
				<a href="/blog/post/{{ post.slug }}">Continue reading</a>
				<div class="share">
					<i class="fa fa-share-alt fa-lg" aria-hidden="true"></i>
					<ul class="share-social">
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endmacro %}

<section class="section-blog">
	<div class="container">
		<div class="row">
			<h1 class="title-page">Blog</h1>
			<div class="wrapper-blog">
				<div class="row">
					<div class="grid">
						{% if data.posts.results.length > 0 %}
							{% for post in data.posts.results %} {{ blogPost(post) }} {% endfor %}
						{% else %}
							<div class="col-lg-12">
								<h3 class="text-muted">There are no posts yet.</h3>
							</div>
						{% endif %}
					</div>
				</div>
				<a href="?perPage={{ data.posts.last }}" class="btn btn-request">Load more post</a>
			</div>
		</div>
	</div>
</section>
<section class="section-newsletter">
	<!--section newsletter -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-5">
				<h2>Join Our Newsletter</h2>
				<p>Please enter your email address in the form below</p>
				<form>
					<div class="form-group">
						<input type="email" class="form-control" placeholder="E-mail">
					</div>
					<button type="submit" class="btn btn-request">subscribe</button>
				</form>
			</div>
		</div>
	</div>
</section>
<!--end section newsletter -->
<footer>
	<!-- footer-->
	<div class="container">
		<div class="row">
			<a class="logo-footer" href="#"></a>
			<div class="block-left-footer pull-right">
				<ul class="social">
					<li><a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus fa-lg" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a></li>
				</ul>
				<p class="call">Call us <span>1.800.439.7656</span></p>
			</div>
		</div>
	</div>
</footer>
<!-- end footer-->
<script src="/js/jquery-2.2.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/masonry.pkgd.min.js"></script>
<script src="/js/chartist.min.js"></script>
<script src="/js/scripts.js"></script>
</body>
</html>
